:root {
  --main-color: #cc2929;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  background-color: white !important;
}
.nav-logo-text {
  color: var(--main-color) !important;
  font-weight: bold !important;
  padding-left: 50px !important;
}
.nav-desk-link li a,
.nav-mob-link li a {
  color: black !important;
  text-transform: uppercase;
}
.landing-page-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}
.img-sec-1,
.summary-wrapper,
.img-sec-2 {
  width: 33%;
  height: 100%;
}
.img-sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: rotateImg 30s infinite linear;
}
@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.summary-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.summary-wrapper h1 {
  background: -webkit-linear-gradient(-180deg, #000, var(--main-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.summary-wrapper h3 {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
}
.last-update-div {
  margin-top: -20px;
}
.total-cases {
  margin-top: -10px;
  font-size: 50px !important;
  font-weight: 700;
  opacity: 0.8;
}
.total-death {
  color: red;
  margin-top: -10px;
  font-size: 50px !important;
  font-weight: 700;
}
.total-recovered {
  color: green;
  margin-top: -10px;
  font-size: 50px !important;
  font-weight: 700;
}
.img-sec-2 img {
  width: 1080px;
  height: 720px;
}
.section2-wrapper {
  margin-top: 150px;
  width: 100%;
  padding-bottom: 450px;
  background-image: url("../images/corona-wall.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section2-wrapper h4 {
  color: var(--main-color);
  text-align: center;
}
.sec2-main-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px auto;
}
.card-wrapper {
  background-color: white;
  width: 20%;
  -webkit-box-shadow: 10px 10px 20px 20px rgba(209, 209, 209, 1);
  -moz-box-shadow: 10px 10px 20px 20px rgba(209, 209, 209, 1);
  box-shadow: 10px 10px 20px 20px rgba(209, 209, 209, 1);
  border-radius: 30px;
}
.card-header-wrapper {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 30px 30px 0px 0px;
  color: white;
}
.card-content-wrapper {
  padding: 20px;
}
footer {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer-nav {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-nav p a {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
.footer-header {
  font-size: 25px !important;
  font-weight: bold !important;
}
.footer-hr {
  width: 80%;
  margin: auto;
}
.social-wrapper {
  width: 20%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fa {
  color: white;
}
@media (max-width: 789px) {
  .nav-logo-right {
    display: none;
  }
  .img-sec-2 {
    display: none;
  }
  .landing-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
  }
  .img-sec-1,
  .summary-wrapper {
    width: 100%;
  }

  .img-sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2-wrapper {
    padding-bottom: 100px;
  }
  .sec2-main-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
  }
  .card-wrapper {
    margin: 20px auto;
    width: 80%;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-nav p a {
    font-size: 12px;
  }
  .social-wrapper {
    width: 80%;
    padding-bottom: 10px;
  }
}
