:root {
  --main-color: #cc2929;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  background-color: white !important;
}
.nav-logo-text {
  color: var(--main-color) !important;
  font-weight: bold !important;
  padding-left: 50px !important;
}
.nav-desk-link li a,
.nav-mob-link li a {
  color: black !important;
  text-transform: uppercase;
}
.sym-main-wrapper {
  width: 100%;
  height: 100vh;
  background: url("../images/symptoms.jpg") #cc29299a;
  background-size: cover;
  background-blend-mode: multiply;
}
.sym-details-wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.header-wrapper {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.header-wrapper p {
  font-size: 16px;
}
.symptoms-wrapper {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 18px;
}
.sym-list-wrapper {
  padding-left: 10px;
  margin: 10px;
  border-left: 2px solid white;
}
.typical-wrapper {
  padding-top: 50px;
}
.typical-wrapper h4 {
  font-weight: bold;
}
.typical-wrapper p {
  padding: 10px;
  font-size: 18px;
}
.sym-second-wrapper {
  width: 100%;
  height: 80vh;
  background-color: white;
  padding: 100px;
}
.sym-second-wrapper p {
  font-size: 18px;
  padding-top: 20px;
}
.sym-second-wrapper ul {
  padding-top: 30px;
}
.sym-second-wrapper ul li {
  padding-left: 50px;
  font-size: 20px;
  padding: 10px;
}
footer {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer-nav {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-nav p a {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
.footer-header {
  font-size: 25px !important;
  font-weight: bold !important;
}
.footer-hr {
  width: 80%;
  margin: auto;
}
.social-wrapper {
  width: 20%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fa {
  color: white;
}
.floating-wrapper {
  position: sticky;
  bottom: 5%;
  left: 95%;
  z-index: 1;
}
@media (max-width: 789px) {
  .nav-logo-right {
    display: none;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .svg-wrapper {
    margin-top: -50px;
    width: 100%;
  }
  .sym-main-wrapper {
    height: auto;
  }
  .footer-nav p a {
    font-size: 12px;
  }
  .social-wrapper {
    width: 80%;
    padding-bottom: 10px;
  }
  .sym-details-wrapper {
    width: 100%;
    color: white;
    align-items: flex-start;
  }
  .header-wrapper {
    font-weight: bold;
    font-size: 20px;
  }
  .header-wrapper p {
    font-size: 16px;
  }
  .symptoms-wrapper {
    padding-left: 20px;
    padding-top: 50px;
    font-size: 18px;
  }
  .sym-list-wrapper {
    padding-left: 10px;
    margin: 10px;
    border-left: 2px solid white;
  }
  .typical-wrapper {
    padding-top: 50px;
  }
  .typical-wrapper h4 {
    font-weight: bold;
  }
  .typical-wrapper p {
    padding: 10px;
    font-size: 18px;
  }
  .sym-second-wrapper {
    padding: 20px;
    height: auto;
  }
}
